{% extends 'base.html.twig' %}

{% block title %}Film
	{{ movie.id }}
{% endblock %}

{% block body %}
	<h1>{{ movie.title }}</h1>
	<p>{{ movie.category.name }}</p>
	<p>{{ movie.synopsis }}</p>
	<p>{{ movie.id }}</p>
	<a href="{{ path('movie_index') }}">Retour à la liste de film</a>
{% endblock %}
