{% extends 'base.html.twig' %}

{% block title %}Actor
{% endblock %}

{% block body %}
	<h1>Actor</h1>

	<strong>{{actor.name}}
		:</strong>
	<ul>
		{% for movie in actor.movies %}
			<li>
				<a class="text-primary" href="{{ path('movie_show', {'id': movie.id}) }}" >{{ movie.title }}</a>
			</li>
		{% else %}
			<li>Aucun acteur pour cette série</li>
		{% endfor %}
	</li>
</ul>
<a href="{{ path('actor_index') }}">back to list</a>


{{ include('actor/_delete_form.html.twig') }}{% endblock %}
